* {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
}

body {
  background: linear-gradient(135deg, rgb(77, 109, 144), rgb(143, 99, 164));
  min-height: 100vh;
}

section ol li:not([data-type="success"]) {
  background-color: red !important;
  align-items: center;
  justify-content: center;
}

section ol li:not([data-type="success"]) div[data-content] {
  color: white;
  align-items: center;
}

section ol li:not([data-type="success"]) div[data-title] {
  text-transform: uppercase;
  font-weight: bolder;
  padding-bottom: 10px;
}

section ol li:not([data-type="success"]) div[data-description] {
  font-weight: bold;
  font-size: x-small;
}


button.elegant {
  background: linear-gradient(135deg, rgb(77, 109, 144), rgb(143, 99, 164));
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
  border: none;
  border-radius: 7px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 4px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

button.elegant:hover {
  background: linear-gradient(135deg, rgb(143, 99, 164), rgb(77, 109, 144));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 16px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

input {
  background: linear-gradient(135deg, rgb(77, 109, 144), rgb(143, 99, 164));
  box-shadow: 0 1 1px rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

input:hover {
  background: linear-gradient(135deg, rgb(143, 99, 164), rgb(77, 109, 144));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 16px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.15);
}

input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 16px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.15);
}

input::placeholder {
  color: white;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-1-black {
  border: 1px solid rgb(1, 0, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.box-3d {
  border-radius: 10px;
  box-shadow: 0.5px 4px 8px 3px rgb(0, 0, 0), 0 3px 10px rgb(1, 0, 0), 2px 2px 6px rgb(0, 0, 0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 16px rgba(0, 0, 0, 0.2), 0 8px 24px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
}

nav .container {
  flex-direction: column;
  padding: 10px;
}

.content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
}


.content .container .row:nth-child(2) {
  align-items: center;
}

.content .container .row:nth-child(2) .card {
  background: none;
  width: 450px;
}

.content .container .row:nth-child(2) img {
  height: 240px;
  width: 450px;
  padding: 0;
}

.content .container .row:nth-child(2) .download-button {
  padding: 10px 35px;
}

.content .container .row:nth-child(2) .download-button button {
  width: 350px;
  height: 50px;
  border-radius: 10px;
}

.content .container .row:nth-child(1) {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content .container .row:nth-child(1) input {
  width: 350px;
}

.content .container .row:nth-child(1) button {
  width: 200px;
  font-size: small;
}

.content .container .row:nth-child(3) li {
  margin-left: 40px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: flex-end;
}

.content .container .row:nth-child(4) {
  display: flex;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  flex-direction: row;
  mix-blend-mode: difference;
}

.content .container .row:nth-child(4) .col {
  align-items: center;
  border-style: dashed;
}

div#collapse-description {
  overflow-wrap: anywhere;
}

.channel {
  text-decoration: none;
}

div.list-group {
  background: none;
}

div span,
div p,
div a {
  font-size: small;
  font-weight: 600;
}

li.description-download {
  font-size: 12px;
  font-weight: bold !important;
}

footer {
  align-items: center;
  text-align: center;
}

footer .footer-text {
  text-align: center;
  padding: 10px;
}

footer .footer-text p {
  font-weight: 600;
}

@media screen and (max-width: 380px) {
  main {
    display: contents;
    width: auto;
    overflow: hidden;
  }

  .content .container .row {
    width: auto;
    overflow: hidden;
  }

  .content .container .row:nth-child(1) {
    padding: 10px 10px;
    width: 200px;
  }

  .content .container .row:nth-child(1) input {
    width: 100%;
  }

  .content .container .row:nth-child(1) button {
    width: 100%;
    font-size: small;
  }

  .content .container .row:nth-child(2) .card {
    width: 100%;
  }

  .content .container .row:nth-child(2) img {
    height: auto;
    width: 100%;
  }

  .content .container .row:nth-child(2) .download-button button {
    width: 100%;
    font-size: small;
  }

  .content .container .row:nth-child(3) p {
    font-size: 10px;
  }

  .content .container .row:nth-child(4) .col,
  .content .container .row:nth-child(5) .col {
    gap: 5px;
  }

  .content .container .row:nth-child(4) .col svg,
  .content .container .row:nth-child(5) .col svg {
    width: 40px;
  }

  .content .container .row:nth-child(4) .col h4,
  .content .container .row:nth-child(5) .col h4 {
    font-size: 12px;
  }

  .content .container .row:nth-child(4) .col p,
  .content .container .row:nth-child(5) .col p {
    font-size: 8px;
  }

  footer {
    width: 280px;
    display: contents;
    padding-top: 10px;
  }
}

@media screen and (max-width: 550px) and (max-width: 520px) {
  .content {
    display: contents;
  }

  .content .container .row img {
    height: auto;
    width: 100%;
  }

  .content .container .row .download-button button {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  main {
    width: inherit;
    height: auto;
    overflow: hidden;
  }

  input::placeholder {
    font-size: 10px;
  }

  .content .container .row {
    width: 340px;
  }

  .content .container .row p {
    font-size: 8px;
  }

  .content .container .row img {
    height: auto;
    width: 100%;
  }

  .content .container .row .download-button button {
    width: 100%;
    font-size: smaller;
  }

  .content .container .row:nth-child(3) p {
    font-size: 8px;
  }

  .content .container .row:nth-child(3) h1 {
    font-size: 20px;
  }

  .content .container .row:nth-child(3) .description-download {
    font-size: 8px;
    margin: 0;
  }

  .content .container .row:nth-child(4) .col,
  .content .container .row:nth-child(5) .col {
    gap: 5px;
  }

  .content .container .row:nth-child(4) .col svg,
  .content .container .row:nth-child(5) .col svg {
    width: 35px;
  }

  .content .container .row:nth-child(4) .col h4,
  .content .container .row:nth-child(5) .col h4 {
    font-size: 11px;
  }

  .content .container .row:nth-child(4) .col p,
  .content .container .row:nth-child(5) .col p {
    font-size: 8px;
  }

  footer p {
    font-size: x-small;
  }
}

/* Loading Screen Styles */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading Spinner Styles (optional) */
.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}